aiofiles==23.2.1
aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.16.0
alabaster==0.7.12
altair==5.1.1
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
annotated-types==0.5.0
anyio==3.7.1
argh==0.26.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asn1crypto==1.3.0
astroid @ file:///C:/ci/astroid_1592487315634/work
astropy==4.0.1.post1
asttokens==2.4.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
autobahn==22.7.1
Automat==22.10.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.12.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitarray @ file:///C:/ci/bitarray_1594751093906/work
bkcharts==0.2
bleach==3.1.5
blinker==1.8.2
bokeh @ file:///C:/ci/bokeh_1593178781838/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.3.3
certifi==2024.6.2
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.11
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmake==3.24.3
colorama==0.4.3
colorlog==6.6.0
comtypes==1.1.7
conda==4.9.2
conda-build==3.18.11
conda-package-handling==1.7.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0.post1
contourpy==1.1.1
COVID19Py==0.3.0
cryptography==38.0.3
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594829190914/work
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@6f2b873bf0d28903eb752aa1166b3aac26dc9007
discord.py==1.5.1
distributed @ file:///C:/ci/distributed_1594742844291/work
dlib @ file:///C:/Users/shahs/Downloads/Install-dlib-main/Install-dlib-main/dlib-19.19.0-cp38-cp38-win_amd64.whl
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
exceptiongroup==1.1.3
executing==2.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.103.1
fastcache==1.1.0
fastjsonschema==2.18.0
ffmpy==0.3.1
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
fonttools==4.53.0
frozenlist==1.3.0
fsspec==0.7.4
future==0.18.2
gevent @ file:///C:/ci/gevent_1593005471151/work
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
gmpy2==2.0.8
gradio==3.44.4
gradio-client==0.5.1
greenlet==0.4.16
h11==0.14.0
h5py==2.10.0
HeapDict==1.0.1
hikari==2.0.0.dev105
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.2
hyperlink==21.0.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata==6.8.0
importlib-resources==6.1.0
incremental==22.10.0
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel @ file:///C:/ci/ipykernel_1594745408489/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==2.1.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==3.0.3
joblib==1.4.2
json5==0.9.5
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-client==8.3.1
jupyter-console==6.1.0
jupyter-core==5.3.1
jupyter-events==0.7.0
jupyter-server==2.7.3
jupyter-server-terminals==0.4.4
jupyterlab==3.5.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.25.0
kaggle==1.6.14
keyring @ file:///C:/ci/keyring_1593109799227/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
lxml @ file:///C:/ci/lxml_1594822774489/work
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.5
matplotlib-inline==0.1.7
mccabe==0.6.1
mdurl==0.1.2
menuinst==1.4.16
mistune==3.0.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==1.0.0
multidict==5.2.0
multipledispatch==0.6.0
mysql-connector-python==8.0.25
navigator-updater==0.2.1
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.16.4
nbformat==5.9.2
nest-asyncio==1.5.8
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nltk==3.8.1
nose==1.3.7
notebook==6.0.3
notebook-shim==0.2.3
numba==0.50.1
numexpr==2.8.6
numpy==1.24.4
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
olefile==0.46
opencv-python==4.6.0.66
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
orjson==3.9.7
overrides==7.4.0
packaging==23.1
pandas==2.0.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pipreqs==0.5.0
pkginfo==1.5.0.1
pkgutil-resolve-name==1.3.10
platformdirs==3.10.0
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.47
protobuf==5.27.2
psutil==5.7.0
pure-eval==0.2.2
pure25519==0.0.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==16.1.0
PyAutoGUI==0.9.54
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.5
pydantic==2.3.0
pydantic-core==2.6.3
pydeck==0.9.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pydub==0.25.1
pyflakes==2.2.0
pygame==2.0.2
PyGetWindow==0.0.9
pygments==2.18.0
pylint @ file:///C:/ci/pylint_1592482039483/work
PyMsgBox==1.0.9
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline==2.1
PyRect==0.2.0
pyrsistent==0.16.0
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pytest==5.4.3
pytest-warnings==0.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///C:/ci/python-language-server_1594162130238/work
python-multipart==0.0.6
python-slugify==8.0.4
pytweening==1.2.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==25.1.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
referencing==0.30.2
regex==2024.5.15
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rope==0.17.0
roslibpy==1.3.0
rpds-py==0.10.3
Rtree==0.9.4
ruamel-yaml==0.15.87
schedule==1.2.1
scikit-image==0.16.2
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
sklearn==0.0.post9
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///C:/ci/spyder_1594830825244/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1594751670175/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445271541/work
sqlparse==0.4.1
st-pages==0.5.0
stack-data==0.6.3
starlette==0.27.0
statsmodels==0.11.1
streamlit==1.36.0
streamlit-option-menu==0.3.13
sympy @ file:///C:/ci/sympy_1594234545115/work
tables==3.6.1
tblib==1.6.0
tenacity==8.4.2
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tinycss2==1.2.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tomli==2.0.1
toolz==0.10.0
tornado==6.3.3
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==5.10.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing-extensions==4.8.0
tzdata==2024.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
uvicorn==0.23.2
voila==0.5.4
watchdog==4.0.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarg==0.1.9
yarl==1.5.1
youtube-dl==2021.1.3
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
